.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;
   > main {
      flex: 1 1 auto;
   }
}

[class*="__container"] {
   max-width: toRem(1170);
   margin: 0 auto;
   padding-inline: toRem(15);
}

body {
   @include nunito;
   color: $mainTextColor;
   background-color: $mainBgColor;
   &.menu-open {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}

// ---------------- Animation elements -------------

[data-watch] {
   transform: translate(toRem(50), 0px);
   opacity: 0;
   transition: all 0.8s;
}
[data-watch].active {
   transform: translate(0px, 0px);
   opacity: 1;
}

[data-watch].hero__image {
   transform: translate(toRem(200), 0px);
   transition-duration: 1.5s;
}
[data-watch].hero__image.active {
   transform: translate(0px, 0px);
}

[data-watch].about__images,
[data-watch].hire__image,
[data-watch].team__wrapper,
[data-watch].services__item:nth-child(1),
[data-watch].gallery__image:nth-child(1),
[data-watch].blog__items,
[data-watch].subscribe__form {
   transition-delay: 0.3s;
}

[data-watch].about__info,
[data-watch].hire__content,
[data-watch].team__list,
[data-watch].services__item:nth-child(2),
[data-watch].gallery__image:nth-child(2),
[data-watch].footer__social-list {
   transition-delay: 0.5s;
}

[data-watch].services__item:nth-child(3),
[data-watch].gallery__image:nth-child(3),
[data-watch].footer__text {
   transition-delay: 0.7s;
}

[data-watch].gallery__image:nth-child(4),
[data-watch].footer__copy {
   transition-delay: 0.9s;
}

[data-watch].top__title {
   transition-delay: 1s;
}

[data-watch].top__text {
   transition-delay: 1.3s;
}

[data-watch].hero__link {
   transition-property: transform, opacity, background-color;
   transition-duration: 0.8s, 0.8s, 0.3s;
   transition-delay: 1.5s, 1.5s, 0s;
}

[data-watch].hero__down {
   transform: translate(0px, toRem(-70)) rotate(-180deg);
   transition-property: transform, opacity, color;
   transition-duration: 0.8s, 0.8s, 0.3s;
   transition-delay: 2.3s, 2.3s, 0s;
}
[data-watch].hero__down.active {
   transform: translate(0px, 0px) rotate(-180deg);
}
