.page {
   // .page__hero
   &__hero {
   }
   // .page__about
   &__about {
      padding-top: toRem(100);
      padding-bottom: toRem(50);
      @media (max-width: toEm($mobile)) {
         padding-top: toRem(70);
         padding-bottom: toRem(35);
      }
   }
   // .page__hire
   &__hire {
      padding: toRem(50) toRem(0);
      @media (max-width: toEm($mobile)) {
         padding: toRem(35) toRem(0);
      }
   }
   // .page__team
   &__team {
      padding: toRem(50) toRem(0);
      @media (max-width: toEm($mobile)) {
         padding: toRem(35) toRem(0);
      }
   }
   // .page__partners
   &__partners {
      padding: toRem(50) toRem(0) toRem(130) toRem(0);
      @media (max-width: toEm($mobile)) {
         padding: toRem(50) toRem(0);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(50) toRem(0);
      }
   }
   // .page__services
   &__services {
      padding: toRem(100) toRem(0);
      @media (max-width: toEm($mobile)) {
         padding: toRem(70) toRem(0);
      }
      @media (max-width: toEm($mobile)) {
         padding: toRem(50) toRem(0);
      }
   }
   // .page__gallery
   &__gallery {
   }
}

.hero {
   position: relative;
   // .hero__image
   &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   // .hero__container
   &__container {
      position: relative;
      min-height: 100vh;
      padding-block: toRem(70);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
   }
   // .hero__content
   &__content {
      max-width: toRem(570);
      @media (max-width: toEm($mobile)) {
         margin-left: toRem(20);
      }
   }
   // .hero__top
   &__top {
      &:not(:last-child) {
         margin-bottom: toRem(42);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(30);
         }
      }
      .top__title {
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
   }
   // .hero__link
   &__link {
      width: toRem(69);
      height: toRem(69);
      border-radius: 50%;
      transition: background-color 0.3s;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media (any-hover: hover) {
         &:hover {
            background-color: $secondaryTextColor;
         }
      }
   }
   // .hero__down
   &__down {
      position: absolute;
      left: 0;
      bottom: toRem(68);
      @include kanit;
      line-height: 150%;
      letter-spacing: toRem(7);
      writing-mode: vertical-lr;
      transform: rotate(-180deg);
      transition: color 0.5s;
      &::after {
         content: "";
         position: absolute;
         bottom: 0;
         right: 100%;
         height: 0%;
         width: toRem(2);
         background-color: $secondaryTextColor;
         transition: height 0.5s;
      }
      @media (any-hover: hover) {
         &:hover {
            color: $secondaryTextColor;
            &::after {
               height: 105%;
            }
         }
      }
      @media (max-width: toEm($tablet)) {
         bottom: toRem(25);
      }
   }
}

.about {
   // .about__container
   &__container {
   }
   // .about__top
   &__top {
      &:not(:last-child) {
         margin-bottom: toRem(75);
         @media (max-width: toEm($tablet)) {
            margin-bottom: toRem(50);
         }
         @media (max-width: toEm($mobileSmall)) {
            margin-bottom: toRem(35);
         }
      }
   }
   // .about__body
   &__body {
      display: flex;
      column-gap: toRem(23);
      @media (max-width: toEm(840)) {
         flex-direction: column;
         row-gap: toRem(40);
      }
   }
   // .about__images
   &__images {
      flex: 0 0 toRem(509);
      display: flex;
      column-gap: toRem(23);
      @media (max-width: toEm(840)) {
         flex: 1 1 auto;
         overflow-x: auto;
      }
   }
   // .about__image
   &__image {
      flex: 1 0 toRem(243);
      img {
         width: 100%;
         aspect-ratio: 243 / 442;
         object-fit: cover;
      }
   }
   // .about__info
   &__info {
   }
   // .about__top-info
   &__top-info {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      gap: toRem(20);
      &:not(:last-child) {
         margin-bottom: toRem(56);
         @media (max-width: toEm($tablet)) {
            margin-bottom: toRem(30);
         }
      }
      @media (max-width: toEm(520)) {
         justify-content: center;
      }
   }
   // .about__image-info
   &__image-info {
      flex: 0 0 toRem(243);
      img {
         width: 100%;
         aspect-ratio: 243 / 243;
         border-radius: 0 toRem(50) 0 0;
         object-fit: cover;
      }
   }
   // .about__button
   &__button {
   }
   // .about__statistics
   &__statistics {
      padding-left: toRem(40);
      padding-right: toRem(75);
      @media (max-width: toEm(1100)) {
         padding-left: toRem(0);
         padding-right: toRem(0);
      }
   }
}

.statistics-about {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: toRem(20);
   @include kanit;
   @media (max-width: toEm(1100)) {
      justify-content: flex-start;
   }
   @media (max-width: toEm(840)) {
      column-gap: toRem(70);
   }
   @media (max-width: toEm(520)) {
      justify-content: center;
      column-gap: toRem(30);
   }
   // .statistics-about__item
   &__item {
      flex: 0 0 toRem(125);
   }
   // .statistics-about__count
   &__count {
      font-size: toRem(40);
      line-height: 150%;
      color: $secondaryTextColor;
   }
   // .statistics-about__title
   &__title {
      letter-spacing: toRem(7);
      line-height: 150%;
   }
}

.hire {
   background: linear-gradient(0deg, rgba(19, 22, 22, 1) 50%, rgba(25, 29, 29, 1) 50%);
   // .hire__container
   &__container {
   }
   // .hire__body
   &__body {
      padding-right: toRem(105);
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: toRem(50);
      background-color: #212828;
      border-radius: toRem(50) toRem(50) 0 toRem(50);
      overflow: hidden;
      @media (max-width: toEm(1100)) {
         padding-right: toRem(30);
      }
      @media (max-width: toEm($mobile)) {
         flex-direction: column;
         align-items: flex-start;
         row-gap: toRem(30);
         border-radius: toRem(0);
         padding: toRem(0) toRem(15) toRem(30) toRem(15);
         margin: 0 toRem(-15);
      }
   }
   // .hire__image
   &__image {
      flex: 0 0 toRem(366);
      height: toRem(318);
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      @media (max-width: toEm($mobile)) {
         flex: 0 0 auto;
         width: 100%;
         margin-left: toRem(-15);
      }
   }
   // .hire__content
   &__content {
      flex: 0 1 toRem(520);
      @media (max-width: toEm($mobile)) {
         flex: 0 1 auto;
      }
   }
   // .hire__top
   &__top {
      &:not(:last-child) {
         margin-bottom: toRem(29);
      }
   }
   // .hire__button
   &__button {
      min-width: toRem(269);
   }
}

.team {
   background-color: $secondaryBgColor;
   // .team__container
   &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: toRem(50);
      @media (max-width: toEm($mobile)) {
         flex-direction: column;
         row-gap: toRem(35);
      }
   }
   // .team__wrapper
   &__wrapper {
      flex: 0 1 toRem(440);
      @media (max-width: toEm($mobile)) {
         flex: 0 1 auto;
      }
   }
   // .team__top
   &__top {
      &:not(:last-child) {
         margin-bottom: toRem(74);
         @media (max-width: toEm($mobile)) {
            margin-bottom: toRem(30);
         }
      }
   }
   // .team__customers
   &__customers {
   }
   // .team__list
   &__list {
      flex: 0 1 toRem(570);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(22);
      justify-items: center;
      align-items: center;
      @media (max-width: toEm($tablet)) {
         gap: toRem(15);
      }
      @media (max-width: toEm($mobile)) {
         flex: 0 1 auto;
      }
      @media (max-width: toEm($mobileSmall)) {
         gap: toRem(8);
      }
   }
   // .team__item
   &__item {
   }
   // .team__image
   &__image {
      max-width: 100%;
      aspect-ratio: 274 / 274;
      object-fit: cover;
      &--radius {
         border-radius: 0 0 toRem(50) 0;
         @media (max-width: toEm($mobile)) {
            border-radius: 0 0 toRem(70) 0;
         }
         @media (max-width: toEm($mobileSmall)) {
            border-radius: 0 0 toRem(50) 0;
         }
      }
   }
   // .team__button
   &__button {
      min-width: auto;
   }
}

.customers {
   // .customers__photos
   &__photos {
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child) {
         margin-bottom: toRem(19);
      }
   }
   // .customers__image
   &__image {
      width: toRem(55);
      height: toRem(55);
      border-radius: 50%;
      object-fit: cover;
      &:not(:first-child) {
         margin-left: toRem(-15);
      }
   }
   // .customers__reviews
   &__reviews {
      display: flex;
      flex-wrap: wrap;
      gap: toRem(8);
      &:not(:last-child) {
         margin-bottom: toRem(11);
      }
   }
   // .customers__stars
   &__stars {
      img {
         width: toRem(16);
         height: toRem(16);
         object-fit: contain;
      }
   }
   // .customers__label
   &__label {
      @include kanit;
      color: $secondaryTextColor;
      line-height: 150%; /* 24/16 */
      letter-spacing: toRem(7);
      text-transform: uppercase;
   }
}

.partners {
   background-color: $secondaryBgColor;
   // .partners__container
   &__container {
   }
   // .partners__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      gap: toRem(30);
   }
   // .partners__item
   &__item {
   }
   // .partners__logo
   &__logo {
      max-width: 100%;
      object-fit: contain;
   }
}

.services {
   // .services__container
   &__container {
   }
   // .services__list
   &__list {
   }
   // .services__item
   &__item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: toRem(50);
      &:not(:last-child) {
         padding-bottom: toRem(47);
         border-bottom: toRem(1) solid #212828;
         margin-bottom: toRem(47);
         @media (max-width: toEm($mobile)) {
            padding-bottom: toRem(30);
            margin-bottom: toRem(30);
         }
      }
      @media (max-width: toEm($tablet)) {
         flex-direction: column;
         row-gap: toRem(20);
         align-items: center;
         text-align: center;
      }
   }
   // .services__title
   &__title {
      @include kanit;
      font-size: toRem(40);
      line-height: 150%; /* 60/40 */
      margin-top: toRem(16);
      @media (max-width: toEm($tablet)) {
         margin-top: 0;
      }
      @media (max-width: toEm($mobile)) {
         font-size: toRem(35);
         line-height: 120%;
      }
   }
   // .services__content
   &__content {
      flex: 0 0 toRem(412);
      @media (max-width: toEm($tablet)) {
         flex: 0 1 auto;
         max-width: toRem(500);
      }
   }
   // .services__text
   &__text {
      color: $secondaryTextColor;
      line-height: 138%;
      p {
         &:not(:last-child) {
            margin-bottom: toRem(10);
         }
      }
      &:not(:last-child) {
         margin-bottom: toRem(22);
      }
   }
   // .services__link-more
   &__link-more {
      @include kanit;
      letter-spacing: toRem(7);
      display: inline-flex;
      align-items: center;
      gap: toRem(16);
      padding-bottom: toRem(3);
      border-bottom: toRem(1) solid transparent;
      transition: all 0.3s;
      &::after {
         content: "";
         flex: 0 0 toRem(9);
         width: toRem(9);
         height: toRem(12);
         background: url("../img/icons/angle-right.svg") 0 0 / contain no-repeat;
      }
      @media (any-hover: hover) {
         &:hover {
            border-bottom-color: inherit;
         }
      }
   }
}

.gallery {
   // .gallery__items
   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      @media (max-width: toEm($pc)) {
         grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: toEm($mobileSmall)) {
         grid-template-columns: auto;
      }
   }
   // .gallery__image
   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
