// Colors
$mainTextColor: #ffffff;
$secondaryTextColor: #6d7d7d;
// $accentColor: #026aa2;
$mainBgColor: #191d1d;
$secondaryBgColor: #131616;

// Breakpoints
$pc: 1199.98;
$tablet: 991.98;
$mobile: 767.98;
$mobileMedium: 574.98;
$mobileSmall: 479.98;
